@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";


@theme {
  --color-primary-red: #AB0418;
  --color-primary-gray: #2D2D2D;
  --color-secondary-gray: #1A1A1A; 
  --font-logo: "Bebas Neue", sans-serif;

  
}